{{#if fabricator}}
		</div>
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

	<!-- project scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/js/main.js" type="module"></script>
	<!-- /project scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/vendor/js/bootstrap.js"></script>
	